<article class="book-post">
  <div class="post-content">
    <div class="book-content">
      <div class="book-img-container">
        <img class="book-img" src="{{url}}" />
      </div>
      <p class="book-title">
        {{title}}
      </p>
      <p class="book-edition">
        {{edition}}
      </p>
      <p class="book-author">
        {{author}}
      </p>
      <p class="book-price">
        {{price}}
      </p>
    </div>
    <div class="seller-content">
      <p class="seller-name">
        {{name}}
      </p>
      <p class="seller-rating">
        {{rating}}
      </p>
      <p class="seller-info">
        {{info}}
      </p>
    </div>
    <p class="post-date">
      {{date}}
    </p>
  </div>
</article>
