<article class="book-post">
  <div class="post-content">
    <div class="book-content">
      <div class="book-img-container">
        <img class="book-img" src="{{url}}" />
      </div>
      <p class="book-title">
        {{title}}
      </p>
      <p class="book-edition">
        Edition {{edition}}
      </p>
      <p class="book-author">
        by {{author}}
      </p>
      <p class="book-condition">
        {{condition}}
      </p>
      <p class="book-price">
        ${{price}}
      </p>
    </div>
    <div class="post-tags">
      <p class="post-date">
        posted on {{date}}
      </p>
      <p class="course">
        {{course}}
      </p>
    </div>
    <div class="seller-content">
      <p class="seller-name">
        {{name}}
      </p>
      <p class="seller-rating">
        {{rating}} <i class="fa fa-star"></i>
      </p>
      <p class="seller-info">
        {{info}}
      </p>
    </div>
  </div>
</article>
